* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background-color: #082434;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main > button {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  border-radius: 10px;
  background-color: #082434;
  color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.dice-container > button {
  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  border: solid 2px #082434;
  border-radius: 10px;
  background-color: #e0e0e0;
  color:#082434;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.roll-button {
  width: 180px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  border: solid 2px #082434;
  border-radius: 10px;
  background-color: #e0e0e0;
  color:#082434;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.counter {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: #082434;
}

.timer {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: #082434;
}

.timer > button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #082434;
  color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-counter-button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  border: solid 2px #082434;
  border-radius: 10px;
  background-color: #69686f;
  color:#082434;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
